@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Poppins');

html {
  height: 100%;
}

body {
  min-height: 100%;
}

main {
  padding: 30px 40px 0;
  position: relative;
}

#loading-main {
  display: inline-block;
  width: 15%;
  height: 15%;
  margin-top: 100px;
}

#search-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  color: rgba(0, 0, 0, 0);
  z-index: 2;
}

#app-alert {
  border-radius: 0px;
  font-size: 16px;
}

#brand-reel {
  width: 20px;
  height: 15px;
  display: inline-block;
}

#sign-in-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#search-exit {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
}

#search-exit:hover {
  cursor: pointer;
}

#search-exit:active {
  border-width: 2px;
  border-style: dashed; 
}

#synopsis {
  margin-left: auto;
  margin-right: auto;
}

.movie-detail {
  font-size: 16px;
}

.jumbotron {
  background-color: inherit;
  font-family: "Poppins", sans-serif;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand {
  font-family: "Black Han Sans", sans-serif;
}

.movie-preview-container {
  position: relative;
}

.movie-preview-delete {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  padding: 5px;
  margin-right: 12.5%;
  opacity: 0;
  z-index: 1;
}

.movie-preview-delete:hover {
  cursor: pointer;
  background-color: red;
  border: 1px solid black;
}

.movie-preview-delete:active {
  background-color: brown;
  border: 1px solid black;
}

.movie-slide-in {
  animation-name: container-slide-in-left, opacity-fade-in;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.movie-preview-slide-in {
  animation-name: container-slide-in-top, opacity-fade-in;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: .75s;
  animation-fill-mode: forwards;
}

.form-button {
  display: block;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.text-fade-in {
  animation: fade-in-text 1s linear .5s forwards;
}

.background-fade {
  animation: fade-background 1s linear forwards;
}

.carousel-caption a, .carousel-caption p {
  color: whitesmoke;
}

#metacritic-logo {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

#metacritic-logo + h3 {
  display: inline-block;
}

#movie-poster {
  display: inline-block;
  width: 300px;
  height: 447px;
}

#magnifying-glass-icon {
  width: 40%;
  height: 40%;
}

.error-message {
  color: red;
}

.movie-preview {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  width: 75%;
  opacity: 0;
  background-color: rgba(180, 180, 180, .7);
}

.movie-preview-link, .movie-preview-link:active, .movie-preview-link:hover, .movie-preview-link:visited {
  color: black;
  text-decoration: none;
}

.fade-out {
  animation: opacity-fade-in .5s linear reverse forwards;
}

.carousel-pic {
  width: 100%;
  height: auto;
}

.movie-preview-link:hover > .movie-preview {
  background-color: rgba(180, 180, 180, 1);
}

.movie-preview-poster {
  width: 120px;
  height: 180px;
  float: left;
}

.main-abs-ps-back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  padding: 30px 40px 0;
}

.main-abs-ps-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 40px 0;
}

@keyframes fade-in-text {
  from {color: rgba(0, 0, 0, 0);}
  to {color: rgba(0, 0, 0, 1);}
}

@keyframes fade-background {
  from {opacity: 1;}
  to {opacity: .1;}
}

@keyframes container-slide-in-left {
  from {left: -100px;}
  to {left: 0px;}
}

@keyframes container-slide-in-top {
  from {top: -20px;}
  to {top: 0px;}
}

@keyframes opacity-fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }

  #synopsis {
    width: 75%;
  }

  .movie-preview {
    width: 60%;
  }

  .movie-preview-delete {
    margin-right: 20%;
  }

  .jumbotron {
    width: 60%;
  }

  #sign-in-container {
    width: 50%;
  }

  #magnifying-glass-icon {
    width: 200px;
    height: 200px;
  }
}
