html {
  height: 100%;
}

body {
  min-height: 100%;
}

main {
  padding: 30px 40px 0;
  position: relative;
}

#loading-movie-details {
  display: inline-block;
  width: 15%;
  height: 15%;
  margin-top: 100px;
}

#search-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  color: rgba(0, 0, 0, 0);
  z-index: 3;
}

#transparency-search-results {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

#transparency-movie-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.transparency-search-result-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
}

#synopsis {
  margin-left: auto;
  margin-right: auto;
}

.movie-slide-in-container {
  animation: container-slide-in-left 1s linear forwards;
}

.movie-slide-in-transparency {
  animation: transparency-fade-in 1s linear forwards;
}

.search-result-item-container-slide-and-text-fade-in {
  animation-name: container-slide-in-top, opacity-fade-in;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: .75s;
  animation-fill-mode: forwards;
}

.text-fade-in {
  animation: search-results-fade-in-text 1s linear .5s forwards;
}

.background-fade {
  animation: search-results-fade-background 1s linear forwards;
}

#metacritic-logo {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

#metacritic-logo + h3 {
  display: inline-block;
}

#movie-poster {
  display: inline-block;
  width: 300px;
  height: 447px;
}

.error-message {
  text-align: center;
  color: red;
}

.search-result-item {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  width: 75%;
  opacity: 0;
  background-color: rgba(180, 180, 180, .7);
}

.search-result-item-link, .search-result-item-link:active, .search-result-item-link:hover, .search-result-item-link:visited {
  color: black;
  text-decoration: none;
}

.search-result-item-link:hover > .search-result-item {
  background-color: rgba(180, 180, 180, 1);
}

.search-result-item-poster {
  width: 120px;
  height: 180px;
  float: left;
}

.search-result-item-info {
  float: right;
  clear: right;
}

.main-abs-ps {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  padding: 30px 40px 0;
}

@keyframes search-results-fade-in-text {
  from {color: rgba(0, 0, 0, 0);}
  to {color: rgba(0, 0, 0, 1);}
}

@keyframes search-results-fade-background {
  from {background-color: rgba(255, 255, 255, 0);}
  to {background-color: rgba(255, 255, 255, .8);}
}

@keyframes container-slide-in-left {
  from {left: -100px;}
  to {left: 0px;}
}

@keyframes container-slide-in-top {
  from {top: -20px;}
  to {top: 0px;}
}

@keyframes transparency-fade-in {
  from {background-color: rgba(255, 255, 255, 1);}
  to {background-color: rgba(255, 255, 255, 0);}
}

@keyframes opacity-fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media (min-width: 768px) {
  .navbar {
      border-radius: 0;
  }

  #synopsis {
    width: 75%;
  }

  .search-result-item {
    width: 60%
  }
}
